OPENAI_API_KEY= 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

# Update these with your Supabase details from your project settings > API and dashboard settings
PINECONE_API_KEY=
PINECONE_ENVIRONMENT=
PINECONE_INDEX_NAME=
